[submodule "ms-vehicle"]
	path = ms-vehicle
	url = https://github.com/Brayito/ms-vehicle
[submodule "ms-repair_list"]
	path = ms-repair_list
	url = https://github.com/Brayito/ms-repair_list
[submodule "ms-reports"]
	path = ms-reports
	url = https://github.com/Brayito/ms-reports
[submodule "ms-vehicle_repair"]
	path = ms-vehicle_repair
	url = https://github.com/Brayito/ms-vehicle_repair
[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/Brayito/eureka-server
[submodule "config-server"]
	path = config-server
	url = https://github.com/Brayito/config-server
